

.App {
  text-align: center;
  padding: 20px;
}



.countries-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.country-card {
  width: 200px;
  margin-bottom: 20px;
  text-align: center;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
}

.country-card img {
  width: 80px;
  height: 50px;
  margin-bottom: 10px;
}

.country-card p {
  font-weight: bold;
  margin: 0;
}
